.wrapper {
    width: 41rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskcontent {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.taskitem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}